.modify-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.modify-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modify-leftheader {
  display: flex;
  align-items: center;
  gap: 2px;
}

.modify-iconh {
  display: flex;
  gap: 15px;
  color: #777;
  cursor: pointer;
}

.modify-item {
  display: flex;
  gap: 5px;
}

.modify-link {
  color: #777;
  text-decoration: none;
}

.modify-profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modify-profile-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.modify-profile-info {
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
}

.modify-profile-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.modify-profile-about h3,
.modify-profile-purchases h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.modify-profile-about form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.modify-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-weight: bold;
    font-size: 14px;
  }

  input {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

.modify-submit-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*
.modify-profile-purchases ul {
  list-style: none;
  padding: 0;

  li {
    font-size: 14px;
  }
}

.modify-profile-footer {
  display: flex;
  justify-content: center;
}

.modify-profile-footer button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  //border-radius: 4px;
  cursor: pointer;
}*/
