.admin {
  padding-right: 55px;
  padding-bottom: 0px;
  display: flex;
  gap: 10px;
    background-color: #273153;
    
  .left {
    h1 {
      padding-top: 20px;
      padding-bottom: 20px;
      color: white;
      text-align: center;
      font-size: 2rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      font-family: 'Arial', sans-serif;
    }

    flex: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: #2f2f2f; 

    button {
      width: 250px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      background-color: #3f51b5;
      color: rgb(255, 255, 255);
      font-weight: 500;
      margin-bottom: 1px;
      
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #303f9f;
       
      }
    }
  }

  .center {
    flex: 5;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .confirmation {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.8);
      width: 400px;
      padding: 20px;
      border-radius: 5px;
      z-index: 9999;

      .confirmation-content {
        color: white;
        text-align: center;

        h3 {
          margin-top: 0;
          margin-bottom: 20px;
        }

        .confirmation-buttons {
          display: flex;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;

          button {
            padding: 10px 20px;
            background-color: #3f51b5;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;

            &:hover {
              background-color: #303f9f;
            }
          }
        }
      }
    }


    .title {
      text-decoration: underline;
      color: white;
      
    }
    h2 {

      color: white;
    }

    .table {
      background-color: #2f2f2f; 

      th,
      td {
        border: none !important;
        padding: 10px !important;
        color: white; /* Add this line to change the text color */
        font-weight: bold;
      }

      th {
        background-color: #3f51b5;
        color: white;
        text-transform: uppercase;
      }

      tr:nth-child(odd) {
        background-color: #1f1f1f; /* Change the background color to a darker shade */
      }

      tr:hover {
        background-color: #333333; /* Change the background color to a darker shade */
      }
     
    }
  }

}